<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>hello world...</h1>

<div class="newReadMorePost">

  <!-- i want to be able to see that specific article here  -->


  <% if (user.local.email) { %>
    <!-- this connects to the db on mongo, make sure that the collection key value pairs match up to the js variables -->
    <div class="card mt-4">

      <!-- first blog post -->
      <div class="card-body">
        <h4 class="card-title"><%= unicorn[0].title %></h4>
        <div class="card-subtitle text-muted mb-2">
          <%= unicorn[0].createdAt %>
        </div>
        <div class="card-text mb-2"><%= unicorn[0].description %></div>

        <div class="card-text mb-2"><%= unicorn[0].bpost %></div>



          <!-- <a href="newarticle/edit" class="btn btn-info">Edit</a> -->
    </div>
  <% } %>

</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Footer -->
<footer>
  <h2>Contact Miggie Garcia, Founder</h2>
  <ul class="icons">
    <li><a href="https://twitter.com/miggiegarciadev" class="icon brands twitter"><span class="label">Twitter</span></a></li>
    <li><a href="http://www.miggiegarciadev.com/" class="icon brands portfolio"><span class="label">Portfolio</span></a></li>
    <li><a href="https://www.linkedin.com/in/miggiegarcia/" class="icon brands linkedin"><span class="label">Linked In</span></a></li>
    <li><a href="https://github.com/miggiegarciadev" class="icon brands github"><span class="label">GitHub</span></a></li>
    <li><a href="mailto:miggiegarciadev@gmail.com" class="icon brands email"><span class="label">Email</span></a></li>
  </ul>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>


</body>



</html>
