<!DOCTYPE html>
<html lang="en" dir="ltr">


  <head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>



<body class="emergencypg">
  <div>
    <nav class="site-navBar">
      <ul class="ulofnavbar" id="green">
        <li><a href="/index" class="button primary">Home</a></li>
        <li><a href="/blogposting" class="button primary">Make a post</a></li>
        <li><a href="/blog" class="button primary">Blog</a></li>
        <li><a href="/resources" class="button primary">Resources</a></li>
        <li><a href="/login" class="button primary">Login</a></li>
        <li><a href="/mission" class="button primary" href="">Mission</a></li>
      </ul>
    </nav>

    <br>
    <br>
    <br>
    <br>

  <div class="container1">
    <h1>Disclaimer: Empowering the Military Mind is not a crisis intervention resource, but I do encourage you in the event of an emegency or crisis please call 911 or the National Suicide Prevention Hotline.</h1>
  </div>

  <div class="container2">
    <h1>IF THIS IS AN EMEGENCY</h1>
    <h2>If you’re thinking about suicide, are worried about a friend or loved one, or would like emotional support, the Lifeline network is available 24/7 across the United States.</h2>

  </div>

  <div class="container3">
    <h2>National Suicide Prevention Hotline</h2>
    <h3>800-273-8255</h3>
    <h3><a href="https://suicidepreventionlifeline.org/talk-to-someone-now/">Talk to someone now.</a></h3>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Footer -->
  <footer>
    <h2>Contact Miggie Garcia, Founder</h2>
    <ul class="icons">
      <li><a href="https://twitter.com/miggiegarciadev" class="icon brands twitter"><span class="label">Twitter</span></a></li>
      <li><a href="http://www.miggiegarciadev.com/" class="icon brands portfolio"><span class="label">Portfolio</span></a></li>
      <li><a href="https://www.linkedin.com/in/miggiegarcia/" class="icon brands linkedin"><span class="label">Linked In</span></a></li>
      <li><a href="https://github.com/miggiegarciadev" class="icon brands github"><span class="label">GitHub</span></a></li>
      <li><a href="mailto:miggiegarciadev@gmail.com" class="icon brands email"><span class="label">Email</span></a></li>
    </ul>
  </footer>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>


</body>

</html>
