<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>



<body class="emergencypg">
  <div>
    <nav id="indexNav">
      <ul>
        <li><a href="/index" class="btn btn-outline-dark">Home</a></li>
        <li><a href="/emergency" class="btn btn-outline-dark">Emergency</a></li>
        <li><a href="/mission" class="btn btn-outline-dark" href="">Mission</a></li>
        <li><a href="/login" class="btn btn-outline-dark">Make a post</a></li>
        <!-- <li><a href="/blog" class="btn btn-outline-dark">Blog</a></li> -->
        <li><a href="/resources" class="btn btn-outline-dark">Resources</a></li>
        <li><a href="/login" class="btn btn-outline-dark">Login</a></li>

      </ul>
    </nav>

    <br>
    <br>
    <br>
    <br>


    <div id="email2" class="contactMe">
      <h1>Contact the Founder</h1>
      <h2>Miggie Garcia</h2>
      <br>
      <a href="https://twitter.com/miggiegarciadev"> Twitter</a>
      <br>
      <br>

      <a href="http://www.miggiegarciadev.com/">Portfolio</a></li>
      <br>
      <br>

      <a href="https://www.linkedin.com/in/miggiegarcia/">Linked In</a>
      <br>
      <br>
      <a href="https://github.com/miggiegarciadev">GitHub</a>

      <br>
      <br>
      <a href="mailto:miggiegarciadev@gmail.com">Email</a>
      <br>



    </div>



    <!-- Footer -->
    <footer id="footer">
      <p id="email2"> “Resilience is accepting your new reality, even if it's less good than the one you had before. You can fight it, you can do nothing but scream about what you've lost, or you can accept that and try to put together something
        that's good.”
        <br>
        ― Elizabeth Edwards
      </p>
    </footer>


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>


</body>

</html>
