<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
  <title>Emergency</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>



<body class="emergencypg">
  <div>
    <nav id="indexNav">
      <ul>
        <li><a href="/index" class="btn btn-outline-dark">Home</a></li>
        <li><a href="/mission" class="btn btn-outline-dark" href="">Mission</a></li>
        <li><a href="/signup" class="btn btn-outline-dark">Sign Up</a></li>
        <li><a href="/login" class="btn btn-outline-dark">Login</a></li>
        <li><a href="/resources" class="btn btn-outline-dark">Resources</a></li>
        <li><a href="mailto:miggiegarciadev@gmail.com" class="btn btn-outline-dark">Contact Us</a></li>
      </ul>
    </nav>

    <br>
    <br>
    <br>
    <br>

    <div class="container1">
      <h1>Disclaimer: Empowering the Military Mind is not a crisis intervention resource, but I do encourage you in the event of an emegency or crisis please call 911 or the National Suicide Prevention Hotline.</h1>
    </div>

    <br>
    <br>
    <br>
    <div class="container2">
      <h1>IF THIS IS AN EMEGENCY</h1>
      <h2>If you’re thinking about suicide, are worried about a friend or loved one, or would like emotional support, the Lifeline network is available 24/7 across the United States.</h2>

    </div>

    <div class="container3">
      <h2>National Suicide Prevention Hotline</h2>
      <h3>800-273-8255</h3>
      <h3><a href="https://suicidepreventionlifeline.org/talk-to-someone-now/">Talk to someone now.</a></h3>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Footer -->
    <footer id="footer">
      <h2 id="email2">Contact Miggie Garcia, Founder</h2>
      <ul class="icons">
        <li><a href="https://twitter.com/miggiegarciadev" class="icon brands twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://www.miggiegarciadev.com/" class="icon brands portfolio"><span class="label">Portfolio</span></a></li>
        <li><a href="https://www.linkedin.com/in/miggiegarcia/" class="icon brands linkedin"><span class="label">Linked In</span></a></li>
        <li><a href="https://github.com/miggiegarciadev" class="icon brands github"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:miggiegarciadev@gmail.com" class="icon brands email"><span class="label">Email</span></a></li>
      </ul>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>


</body>

</html>
