<!DOCTYPE HTML>
<!--
	Tessellate by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Empower & Elevate</title>
	<meta charset="utf-8" />
	<meta property="og:title" content="Full-stack App by Miggie Garcia" />
	<meta property="og:description" content="Empowering the Military Mind After Service" />
	<meta property="og:image" content="public/images/pic05.jpg" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<script src="https://kit.fontawesome.com/58eb5e6d41.js" crossorigin="anonymous"></script>

</head>

<body class="is-preload" id="indexBod">
	<!-- Navigation Bar -->
	<nav id="indexNav">
		<li><a href="/index" class="btn btn-outline-dark">Home</a></li>
		<li><a href="/emergency" class="btn btn-outline-dark">Emergency</a></li>
		<li><a href="#first" class="btn btn-outline-dark" href="">Mission</a></li>
		<li><a href="/login" class="btn btn-outline-dark">Login</a></li>
		<li><a href="/signup" class="btn btn-outline-dark">Sign Up</a></li>
		<li><a href="/contactUs" class="btn btn-outline-dark">Contact Us</a></li>
	</nav>


	<!-- Header -->
	<section id="header" class="dark">

		<header>
			<h1>Empowering the Military Mind;<br> After Service</h1>
			<!-- <p>By Miggie Garcia</p> -->
		</header>
		<footer>
			<a href="#first" class="button scrolly">Mission</a>
		</footer>
	</section>

	<!-- Overlay Warning -->
	<input type="checkbox" name="close" id="closeBtn">
	<div class="overlayWrap">
		<div class="overlayWarn">
			<label for="closeBtn" class="closeX"><i class="fas fa-times"></i></label>
			<div class="container1">
				<br>
				<br>
				<br>
				<h1>Disclaimer: Empowering the Military Mind is NOT a crisis intervention resource, but I do encourage you in the event of an emegency or crisis please call 911 or the National Suicide Prevention Hotline. 1-800-273-8255</h1>
				<p>Thank you! <3 </p>
			</div>
		</div>
	</div>

	<!-- First -->
	<section id="first" class="main">
		<header>
			<div class="container">
				<br>
				<h2>Mission Statement</h2>
				<p>We, at "Empowering the Military Mind" want to help you with life after your service to your country. We first want to say thank you, and secondly want to tell you, that you are not alone! </p>
				<p>Life can be tough, but so are you!</p>
			


			</div>
		</header>
	</section>

	<!-- Second -->
	<section id="second" class="main">
		<header>
			<div class="container">
				<h2>For Veterans! Powered by Veterans!</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
					feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</header>
		<div class="content dark style2">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-narrow">
						<section>
							<h3>Benefits of Our Community</h3>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
								tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
								vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
								augue cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis
								lorem ipsum dolor placerat magna tempus feugiat.</p>
							<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
								accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
								euismod lorem ipsum dolor.</p>
						</section>
					</div>
					<div class="col-8 col-12-narrow">
						<div class="row">
							<div class="col-6"><a href="#" class="image fit"><img src="images/savage21.jpg" alt="image 5" /></a></div>
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="image 5" /></a></div>
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="image 5" /></a></div>
							<div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="image 5" /></a></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Third -->
	<section id="third" class="main">
		<!-- <header>
			<div class="container">
				<h2>How can you get invovled?</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
					feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</header> -->
		<div class="content dark style3">
			<div class="container">
				<span class="image featured"><img src="images/pic07.png" alt="" /></span>
				<div class="row">
					<div class="col-4 col-12-narrow">
						<h3>About the Founder</h3>
						<p>Empowering the Military Mind was founded by Miggie Garcia, who is a combat
							veteran and social-justice activist. Having served her country for ten years,
							as a Financial Mgmt Technician with the United States Army & the New York National Guard,
							she still believes it is to be her duty to give back to her community.
						</p>
						<p>
							In 2012 the Veteran Affairs Hospital, stated that an average of 20-22 veterans and
							active-duty service members take their lives by suicide everday. Having learned
							about this satgering statistic and experiencing the loss of one too many battle
							buddies who had taken their lives to suicide, this prompted Garcia to develop and
							launch an app where veterans can come together and connect with other veterans
							about their experiences.
						</p>

					</div>
					<div class="col-4 col-12-narrow">
						<p>Veterans deserve the right to be included, build a community and empo
							tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
							vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
							augue cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis
							lorem ipsum dolor placerat magna tempus feugiat.</p>
						<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
							euismod lorem ipsum dolor sit amet consequat eget ornare varius gravida euismod.
							Gravida dis lorem ipsum dolor placerat magna tempus feugiat magna tempus lorem.</p>
						<p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus augue cubilia.</p>
					</div>
					<div class="col-4 col-12-narrow">
						<p>Placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui
							lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc
							euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue
							cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis
							lorem ipsum dolor placerat magna tempus feugiat. Lectus ante vel nunc euismod
							est turpis sodales. Diam tempor dui lacinia dolore.</p>
						<p>Accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida
							dolore euismod lorem ipsum dolor sit amet conseismod lorem ipsum dolor sit amet
							consequat lorem ipsum consequat feugiat sed tempus euismod feugiat veroeros.</p>
						<footer>
							<a href="mailto:miggiegarciadev@gmail.com" class="button scrolly">Contact Us!</a>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<section id="footer">
		<h2>Contact Miggie Garcia, Founder</h2>
		<ul class="icons">
			<li><a href="https://twitter.com/miggiegarciadev" class="icon brands twitter"><span class="label">Twitter</span></a></li>
			<li><a href="http://www.miggiegarciadev.com/" class="icon brands portfolio"><span class="label">Portfolio</span></a></li>
			<li><a href="https://www.linkedin.com/in/miggiegarcia/" class="icon brands linkedin"><span class="label">Linked In</span></a></li>
			<li><a href="https://github.com/miggiegarciadev" class="icon brands github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:miggiegarciadev@gmail.com" class="icon brands email"><span class="label">Email</span></a></li>
		</ul>
		<div class="copyright">
			<ul class="menu">
				<!-- <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
			</ul>
		</div>
	</section>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>
