<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Resources</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
  <!-- Navigation Bar -->
  <nav id="indexNav">
    <li><a href="/index" class="btn btn-outline-dark">Home</a></li>
    <li><a href="/emergency" class="btn btn-outline-dark">Emergency</a></li>
    <li><a href="/mission" class="btn btn-outline-dark">Mission</a></li>
    <li><a href="/login" class="btn btn-outline-dark">Login</a></li>
    <li><a href="/signup" class="btn btn-outline-dark">Sign Up</a></li>
    <li><a href="/contactUs" class="btn btn-outline-dark">Contact Us</a></li>
  </nav>

  <br>
  <br>
  <br>
  <br>

  <div class="col-sm-12" id="centerBod">
    <h1 id="email2">Resources</h1>
    <h2>Boston, MA</h2>


    <div class="bosRes">
      <div class="bostonRes" id="res1">
        <h3 id="bold">Veteran Affairs Hospitals</h3>

        <a href="https://www.boston.va.gov/">Click here: Boston VA Hosptial</a>
        <img src="" alt="">
      </div>
      <br>

      <div class="bostonRes" id="res2">
        <h3 id="bold">Experiencing Homelessness</h3>
        <a href="https://www.nechv.org/">Click here: Veteran Homeless Shelter </a>
        <p></p>
        <img src="" alt="">
      </div>

      <div class="bostonRes" id="res3">
        <h3 id="bold">Food & Farmer's Market</h3>
        <a href="https://bostonpublicmarket.org/seasonal/">Click here: Seasonal Farmer's Market</a>
        <p></p>
        <img src="" alt="">
      </div>

      <div class="bostonRes" id="res4">
        <h3 id="bold">Job Placement</h3>

        <a href="https://www.mass.gov/veterans-job-programs-and-services">Click here: Job Place Placement</a>
        <p></p>
        <img src="" alt="">
      </div>

      <div class="bostonRes" id="res5">
        <h3 id="bold">Vet Town Hall</h3>
        <a href="https://www.boston.va.gov/BOSTON/features/VA_Boston_Encourages_Veterans_to_Attend_Town_Hall.asp"> Click here: VA Townhall</a>
        <p></p>
        <img src="" alt="">
      </div>

      <div class="bostonRes" id="res6">
        <h3 id="bold">Rights and Benefits</h3>

        <a href="https://www.boston.gov/departments/veterans-services/rights-and-benefits-military-personnel">Click here: Rights & Benefits</a>
        <p></p>
        <img src="" alt="">
      </div>
    </div>

    <!-- <div class="commissioner"> -->
    <h2 id="bold">Robert Santiago</h2>
    <h3 id="bold">Commissioner</h3>
    <br>
    photo courtesy of Boston.gov
    <br>
    <img src="/images/santiago-headshot.jpeg" alt="image of Rob Santiago">
    <br>
    Contact Info
    <br>
    Phone Number: 617-241-8387
    <br>
    Email: ROBERT.SANTIAGO@BOSTON.GOV
    <br>
    Address: 43 HAWKINS STREET THIRD FLOOR BOSTON, MA 02114
    <!-- </div> -->
  </div>

  <br>

  <!-- disclaimer at the bottom of each page -->
  <div class="col-sm-12" id="grand">
    <span> Disclaimer: </span>
    Empowering the Military Mind is not a crisis intervention resource,

    I do encourage you in the event of an emegency or crisis please
    call 911 or the National Suicide Prevention Hotline.

    <br>IF THIS IS AN EMEGENCY <br>
    If you’re thinking about suicide, are worried about a friend or loved one,
    or would like emotional support, the Lifeline network is available
    24/7 across the United States.

    <a href="https://suicidepreventionlifeline.org/talk-to-someone-now/">Talk to someone now.</a>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="founderInfo">
      <h2 id="email2">Contact Miggie Garcia, Founder</h2>
      <ul class="icons">
        <li><a href="https://twitter.com/miggiegarciadev" class="icon brands twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://www.miggiegarciadev.com/" class="icon brands portfolio"><span class="label">Portfolio</span></a></li>
        <li><a href="https://www.linkedin.com/in/miggiegarcia/" class="icon brands linkedin"><span class="label">Linked In</span></a></li>
        <li><a href="https://github.com/miggiegarciadev" class="icon brands github"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:miggiegarciadev@gmail.com" class="icon brands email"><span class="label">Email</span></a></li>
      </ul>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script> -->
  <script src="assets/js/main.js"></script>
</body>

</html>
